{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet ullamcorper quam. Nullam nulla turpis,
        lacinia at libero eget, euismod cursus dui. Donec venenatis leo tincidunt ullamcorper elementum. Morbi tempor, magna
        at facilisis maximus, ligula libero convallis dui, sit amet porta quam augue eget sem.</p><p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Suspendisse sit amet ullamcorper quam. Nullam nulla turpis, lacinia at libero eget, euismod
        cursus dui. Donec venenatis leo tincidunt ullamcorper elementum. Morbi tempor, magna at facilisis maximus, ligula
        libero convallis dui, sit amet porta quam augue eget sem.</p>
{% endblock %}